[user]
  email = philipp@czora.dev
  name = Philipp Czora
[init]
  defaultBranch = main
[diff]
  tool = nvimdiff
[pull]
  rebase = false
[push]
  default = current
[merge]
  tool = nvimdiff
[includeIf "gitdir:~/repos/synaos/"]
  path = ~/.gitconfig_work
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[mergetool]
  keepBackup = false
[core]
  pager = delta
[delta]
  side-by-side = true
