[user]
  email = philipp@czora.dev
  name = Philipp Czora
[core]
  pager = delta
[init]
  defaultBranch = main
[diff]
  tool = difftastic
[pull]
  rebase = false
[push]
  default = current
[merge]
  tool = vimdiff
[includeIf "gitdir:~/repos/synaos/"]
  path = ~/.gitconfig_work
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
