fish_variables
config.fish.backup
functions/fisher.fish
functions/bass.fish
functions/__bass.py
functions/sdk.fish
functions/__z.fish
functions/__z_add.fish
functions/__z_clean.fish
functions/__z_complete.fish
functions/_fzf_configure_bindings_help.fish
functions/_fzf_extract_var_info.fish
functions/_fzf_preview_changed_file.fish
functions/_fzf_preview_file.fish
functions/_fzf_report_diff_type.fish
functions/_fzf_report_file_type.fish
functions/_fzf_search_directory.fish
functions/_fzf_search_git_log.fish
functions/_fzf_search_git_status.fish
functions/_fzf_search_history.fish
functions/_fzf_search_processes.fish
functions/_fzf_search_variables.fish
functions/_fzf_wrapper.fish
functions/fzf_configure_bindings.fish
completions/fisher.fish
completions/fzf_configure_bindings.fish
completions/sdk.fish
